<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>school</param-name>
    <param-value>xz</param-value>
  </context-param>
  <servlet>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>com.zc.javaweb.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/firstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class> com.zc.javaweb.HelloServlet	</servlet-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>zc</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>1262</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secondServlet</servlet-name>
    <servlet-class>com.zc.javaweb.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/secondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.zc.javaweb.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.zc.javaweb.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestLoadOnStartUpServlet</display-name>
    <servlet-name>TestLoadOnStartUpServlet</servlet-name>
    <servlet-class>com.zc.javaweb.TestLoadOnStartUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestLoadOnStartUpServlet</servlet-name>
    <url-pattern>/testLoadOnStartUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestInitParamServlet</display-name>
    <servlet-name>TestInitParamServlet</servlet-name>
    <servlet-class>com.zc.javaweb.TestInitParamServlet</servlet-class>
    <init-param>
      <param-name>my_name</param-name>
      <param-value>zcc</param-value>
    </init-param>
    <init-param>
      <param-name>my_age</param-name>
      <param-value>211</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestInitParamServlet</servlet-name>
    <url-pattern>/testInitParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServletContextServlet</display-name>
    <servlet-name>TestServletContextServlet</servlet-name>
    <servlet-class>com.zc.javaweb.TestServletContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletContextServlet</servlet-name>
    <url-pattern>/testServletContextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>com.zc.javaweb.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestPrintServlet</display-name>
    <servlet-name>TestPrintServlet</servlet-name>
    <servlet-class>com.zc.javaweb.TestPrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestPrintServlet</servlet-name>
    <url-pattern>/testPrintServlet</url-pattern>
  </servlet-mapping>
</web-app>